@import "./base.css";

@font-face {
  font-family: '华文行楷';
  src: url('./华文行楷.ttf');
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

body{
  user-select: none;
  /* overflow: hidden; */
}
